<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add  name="SQLServerExpress" providerName="System.Data.SqlClient"  connectionString="Data Source=DESKTOP-E6254CP\SQLEXPRESS;Initial Catalog=Nutrisoft;Integrated Security=True" />
	</connectionStrings>
</configuration>